{% extends "pages/page.html" %}

{% load mezzanine_tags %}
{% load i18n %}

{% block main %}
{{ block.super }}

<h1>{% trans "Payment page" %}</h1>

<div class="alert alert-error">

	{{error}}

    {% if error == "form_full" %}
        {% trans "Sorry, all the seats are unfortunately already taken to this subscription." %}
    {% endif %}
    {% if error == "payment_started" %}
        {% trans "Payment for this subscription is already in progress." %}
    {% endif %}
    {% if error == "payment_already_ok" %}
        {% trans "Payment for this subscription has already been made." %}
    {% else %}
    	{% trans "Unknown error" %} : {{error}}
    {% endif %}
</div>


{% endblock %}
