{% extends "pages/page.html" %}

{% load mezzanine_tags %}
{% load i18n %}

{% block main %}
{{ block.super }}

<h1>{% trans "Payment page" %}</h1>

<div class="alert alert-error">

    {% if error == "form_full" %}
        {% trans "Sorry, registrations are closed, all the seats are unfortunately already taken for this event." %}
    {% elif error == "payment_already_ok" %}
        {% trans "Payment for this subscription has already been made." %}
    {% else %}
    	{% trans "Unknown error" %} : {{error}}
    {% endif %}
</div>


{% endblock %}
