{% extends "email/base.html" %}

{% load i18n %}

{% block main %}
{% if message %}<p>{{ message }}</p>{% endif %}
<table border="0">
{% for field, value in fields %}
<tr>
    <td><b>{{ field }}:</b></td>
    <td>{{ value|linebreaks }}</td>
</tr>

    {% if page.form.need_payment %}
        <a href="{% url 'mezzanine.forms.views.start_payment' request.GET.entry_id %}" class="btn btn-primary">{% trans "Link to payment page in case you lost it." %}</a>
    {% endif %}

{% endfor %}
</table>
{% endblock %}
